.item {
  list-style: none;
  margin-top: 60px;
  height: 200px;
  width: 350px;
  position: relative;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.author {
  margin: 0px;
  font-weight: 900;
  font-size: 48px;
}

.body {
  margin: 10px;
  margin-top: 3px;
  font-weight: 500;
}

.footer {
  margin: 10px;

  height: 60px;
  position: absolute;
  bottom: 0;
}

.likeButton {
  background: red;
  display: inline-block;
}

.likeButton:hover {
  background: darkred;
}

.likeCounter {
  margin-left: 10px;
  display: inline-block;
  font-weight: 500;
}
